on:
  # Required to enable manual trigger
  workflow_dispatch:

  schedule:
     - cron: "0 0 * * 0"

jobs:
  regenerate-ebooks:
    runs-on: ubuntu-latest
    name: Regenerate Ebooks
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
      - run: pip install -r requirements.txt
      - run: sudo apt install calibre
      - run: ./generate-ebooks.py
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "[AUTOGENERATE CI] Updated Ebooks"
          git push
